/* Paleta de colores */
/* #065143 green
#129490 cyan
#70B77E esmeralda
#E0A890 rosa bebe
#CE1483 rosa Barbie*/

.cart-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px, 20px;
}

.navBar {
    display: flex;
    background-color: #70b77e;
    min-height: 20vh;
    flex-wrap: wrap;
    padding: 30px;
    color: #ce1483;
    text-decoration: none;
}

.nav {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    color: aquamarine;
}

.logo {
    max-width: 150px;
}

.itemDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: initial;
}