/* Paleta de colores */
/* #065143 green
#129490 cyan
#70B77E esmeralda
#E0A890 rosa bebe
#CE1483 rosa Barbie*/

.cart-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px, 20px;
}

.navBar {
    display: flex;
    background-color: #70b77e;
    min-height: 20vh;
    flex-wrap: wrap;
    padding: 30px;
    color: #ce1483;
    text-decoration: none;
}

.nav {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    color: aquamarine;
}

.logo {
    max-width: 150px;
}

.itemDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.item-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 5px solid #e0a890;
    box-shadow: 10px 10px 10px 10px #d3d3d3d1;
    border-radius: 15px;
    margin: 20px;
}

.item-list-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.detailBtns {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.cantidad {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}

/* carrito */

.cartDisplay {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.cartEmpty {
    display: flex;
    color: #129490;
    font-size: 20px;
}

.contenedor-carrito {
    display: flex;
    flex-direction: row;
}

.items-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 380px;
    border: 5px solid #e0a890;
    box-shadow: 10px 10px 10px 10px #d3d3d3d1;
    border-radius: 15px;
}

/* botones */
